* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.mainContent {
  background-color: red;
  flex: 1 0 auto;
}

.mainHeader {
  box-shadow: 3px 3px 10px #888888;
}

.mainHeader .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  padding: 15px 10px;
}

.mainHeader {
  width: 170px;
  margin-bottom: 1rem;
}

.mainHeader {
  padding: 7px;
  border: #777;
  width: 300px;
  border-radius: 3px;
}

ul {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
