* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.mainContent {
  flex: 1 0 auto;
}

.mainHeader {
  background: royalblue;
  box-shadow: 3px 3px 10px #888888;
}

.mainHeader .topHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}
