* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #212121;
}

.mainContent {
  flex: 1 0 auto;
}

.mainHeader {
  background: royalblue;
  box-shadow: 3px 3px 10px #888888;
}

.mainHeader .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  width: 600px;
  margin: 50px auto;
}

.menu-1,
.menu-2,
.menu-3,
.menu-4 {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 50px;
  cursor: pointer;
  transition: all 0.3s;
}
